<section class="my-6 max-w-7xl mx-auto space-y-6 px-4">
    <h2 class="text-3xl font-serif">
        <small class="text-xl text-yellow-500 block uppercase">Pricing</small>
        Speaking of affordable. You will not believethe cost of this platform.
    </h2>

    <div class="h-8"></div>

    <picture>
        <source srcset="assets/dolar_md.webp 2x, assets/dolar_sm.webp 1x" media="(max-width: {{xs-max}}px)">
        <source srcset="assets/dolar_md.webp" media="(min-width: {{sm-min}}px)">
        <img src="assets/dolar_sm.webp" class="mx-auto" alt="One dolat bill">
    </picture>

    <div class="text-center space-y-3">
        <p>Our price starts from 1 dollar per household per month. 
            You have flexible payment options and if your community decide we can switch 
            between association budgeted expense or home owner expense. </p>
        
        <p>To achieve such a low price we are showing advertising. 
            Every homeowner is free to switch to add-free plan 
            for a few extra dollars per month. </p>
    </div>
</section>
