<section class="my-6 max-w-7xl mx-auto space-y-3 px-4">
    <picture>
        <source srcset="assets/screenshot_md.webp" media="(min-width: {{sm-min}}px)">
        <img src="assets/screenshot_sm.webp" class="rounded-3xl" alt="screenshot">
    </picture>
</section>
